nav.menu
    ul.menu__list
        li.menu__item
            a(href="/my-works.html").menu__link Мои работы
        li.menu__item
            a(href="/about.html").menu__link Обо мне
        li.menu__item
            a(href="/blog.html").menu__link Блог
        li.menu__item
            a(href="/index.html").menu__link Авторизация