.social
    ul.social__list
        li.social__item
            a.social__link.social__link--vk(href='https://vk.com/id12285178')
                svg.social__icon
                    use(xlink:href='')
        li.social__item
            a.social__link.social__link--github(href='https://github.com/Tatyaniya')
                svg.social__icon
                    use(xlink:href='')
        li.social__item
            a.social__link.social__link--in(href='https://www.facebook.com/tatyaniya')
                svg.social__icon
                    use(xlink:href='')