ul.social__list
    li.social__item
        a.social__link.social__link--header(href='https://vk.com/id12285178' target='_blank')
            include ../../images/icons/vk.svg
    li.social__item
        a.social__link.social__link--header(href='https://github.com/Tatyaniya' target='_blank')
            include ../../images/icons/github.svg
    li.social__item
        a.social__link.social__link--header(href='https://www.facebook.com/Tatyaniya' target='_blank')
            include ../../images/icons/in.svg