p 
    ul.technologies
        li
            img(src="assets/images/sass.svg", alt="sass")
        li
            img(src="assets/images/pug.svg", alt="pug")
        li
            img(src="assets/images/gulp.svg", alt="gulp")
        li
            img(src="assets/images/webpack.svg", alt="webpack")