extends ../template 

block variables
    - var title = "Обо мне"

block content
    section.section.home
        .social
            ul.social__list
                li.social__item
                    a.social__link.social__link--header(href='https://vk.com/id12285178' target='_blank')
                        include ../../images/icons/vk.svg
                li.social__item
                    a.social__link.social__link--header(href='https://github.com/Tatyaniya' target='_blank')
                        include ../../images/icons/github.svg
                li.social__item
                    a.social__link.social__link--header(href='https://www.facebook.com/Tatyaniya' target='_blank')
                        include ../../images/icons/in.svg
        .home__menu
            button.hamburger
                .hamburger__link
        .home__img
            include ../../images/icons/portfolio_header.svg
        .home__user.user                    
            .user__pic
                img.user__pic-img(src='../assets/images/users/me.jpg')
            .user__info
                .user__name--home Татьяна Мельничук
                .user__data--home Личный сайт веб-разработчика
        a.home__arrow
            include ../../images/icons/arrow_down.svg
        .triangle
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle__elem
                polygon.left(points="0,0   0,86   500.8,86   500.8,75.5" fill="#efeee9")
                polygon.right(points="1000,0   1000,86   500,86   500,75.5" fill="#eeebdf")
        


    section.section.about
        .about__left
            .about__left-title
                include ../../images/icons/about_header.svg
                h2.block-title.block-title--about Обо мне
          
            .about__left-content
                .user-description
                    .user-description__avatar
                        img.user__avatar(src='../assets/images/users/me.jpg')
                    .user-description__title
                        h3.block-subtitle.block-subtitle--about Кто я
                    .user-description__text.text-block
                        p Я веб-разработчик из Киева. Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p Этот сайт я сделала в рамках обучения в Школе онлайн-образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .about__right
            .about__right-title
                h3.block-subtitle.block-subtitle--skills Чем я могу быть вам полезна
            .about__right-desc.text-block
                p Больше всего меня привлекает Frontend-разработка, но я также знакома и могу решать не сложные задачи на Beckend. Но давайте по порядку:
            .about__right-contend
                .skills
                    .skills__item.skills-row
                        h4.skills-row__title Frontend
                        ul.skills-row__list
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 113.04").circle__second
                                span.skill__circle-title HTML 
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 155.43").circle__second
                                span.skill__circle-title CSS3 
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 240.21").circle__second
                                span.skill__circle-title JavaScript & jQuery 
                    .skills__item.skills-row
                        h4.skills-row__title Beckend
                        ul.skills-row__list
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 268.47").circle__second
                                span.skill__circle-title PHP
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 268.47").circle__second
                                span.skill__circle-title mySQL
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 211.95").circle__second
                                span.skill__circle-title Node.js & npm
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 268.47").circle__second
                                span.skill__circle-title Mongo.db
                    .skills__item.skills-row
                        h4.skills-row__title WorkFlow
                        ul.skills-row__list
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 155.43").circle__second
                                span.skill__circle-title Git
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 155.43").circle__second
                                span.skill__circle-title Gulp
                            li.skills-row__item.skill
                                svg.skill__circle(viewBox='0 0 110 110' width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg")
                                    circle(r="45" cx="55" cy="55" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0").circle__first
                                    circle(r="45" cx="55" cy="55"  transform="rotate(-90 55 55)" fill="transparent" stroke-dasharray="282.6" stroke-dashoffset="0" style="stroke-dashoffset: 268.47").circle__second
                                span.skill__circle-title Bower
        
    section.section.map
        .google-map#map
            script(type='text/javascript' defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaCnePwZU2j7Lky35IYdqwGw4_6FBvLqM&callback=initMap")
            //-iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.349283235294!2d30.509767915914413!3d50.45322019504609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5c79f8bcd9%3A0x1eb0adf45165946f!2z0YPQuy4g0KHRgtGA0LXQu9C10YbQutCw0Y8sINCa0LjQtdCy!5e0!3m2!1sru!2sua!4v1514906428277" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
        .map__contacts
            .contacts__title
                h3.block-subtitle.block-subtitle--map Контакты    
            ul.contacts__list
                li.contacts__item
                    .contacts-row__icon
                        include ../../images/icons/skype.svg
                    span.contacts-row__content Tatyaniya_
                li.contacts__item
                    .contacts-row__icon
                        include ../../images/icons/envelope.svg
                    span.contacts-row__content Tatyaniya@bigmir.net
                li.contacts__item
                    .contacts-row__icon
                        include ../../images/icons/phone.svg
                    span.contacts-row__content +380976247207
                li.contacts__item
                    .contacts-row__icon
                        include ../../images/icons/map.svg
                    span.contacts-row__content Киев


        footer.footer.footer--about
            .footer__links
                nav.footer__menu
                    ul.footer__list
                        li.footer__item
                            a(href="/my-works.html").footer__link Мои работы
                        li.footer__item
                            a(href="/about.html").footer__link Обо мне
                        li.footer__item
                            a(href="/blog.html").footer__link Блог
                        li.footer__item
                            a(href="/index.html").footer__link Авторизация
                .social-dark
                     ul.social-dark__list
                        li.social-dark__item
                            a.social-dark__link(href='https://vk.com/id12285178')
                                include ../../images/icons/vk.svg
                        li.social-dark__item
                            a.social-dark__link(href='https://github.com/Tatyaniya')
                                include ../../images/icons/github.svg
                        li.social-dark__item
                            a.social-dark__link(href='https://www.facebook.com/tatyaniya')
                                include ../../images/icons/in.svg
            .footer__row
                .footer__text.footer__text--left
                    p Я разработчик из Киева и этот сайт сделан в рамках обучения в Школе онлайн-образования LoftSchool.
                .footer__text
                    p &#169; Татьяна Мельничук | создано c любовью в LoftSchool | 2018






    
    