extends ../template 

block variables
    - var title = "Блог"

block content
    h1 блог
    ul
        li
            h2 Заголовок
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, neque quam perferendis culpa esse doloremque quos ipsam, voluptatum veritatis deleniti iure iusto architecto, nulla officiis dicta? Quis vitae inventore excepturi.
        li
            h2 Заголовок
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, neque quam perferendis culpa esse doloremque quos ipsam, voluptatum veritatis deleniti iure iusto architecto, nulla officiis dicta? Quis vitae inventore excepturi.
        li
            h2 Заголовок
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, neque quam perferendis culpa esse doloremque quos ipsam, voluptatum veritatis deleniti iure iusto architecto, nulla officiis dicta? Quis vitae inventore excepturi.
        li
            h2 Заголовок
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, neque quam perferendis culpa esse doloremque quos ipsam, voluptatum veritatis deleniti iure iusto architecto, nulla officiis dicta? Quis vitae inventore excepturi.
        li
            h2 Заголовок
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, neque quam perferendis culpa esse doloremque quos ipsam, voluptatum veritatis deleniti iure iusto architecto, n
    include ../common/menu