extends ../template

block variables
    - var title = 'Мои работы'

block content
    section.section.home
        .social
            ul.social__list
                li.social__item
                    a.social__link.social__link--header(href='https://vk.com/id12285178' target='_blank')
                        include ../../images/icons/vk.svg
                li.social__item
                    a.social__link.social__link--header(href='https://github.com/Tatyaniya' target='_blank')
                        include ../../images/icons/github.svg
                li.social__item
                    a.social__link.social__link--header(href='https://www.facebook.com/Tatyaniya' target='_blank')
                        include ../../images/icons/in.svg
        .home__menu
            button.hamburger
                .hamburger__link
        .home__img
            include ../../images/icons/portfolio_header.svg
        .home__user.user                    
            .user__pic
                img.user__pic-img(src='../assets/images/users/me.jpg')
            .user__info
                .user__name--home Татьяна Мельничук
                .user__data--home Личный сайт веб-разработчика
        a.home__arrow
            include ../../images/icons/arrow_down.svg
        .triangle
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none").traingle__elem
                polygon.left(points="0,0   0,86   500.8,86   500.8,75.5" fill="#faf8f0")
                polygon.right(points="1000,0   1000,86   500,86   500,75.5" fill="#faf8f0")


    section.section.works
        .works-title
            .works-title__elem
                include ../../images/icons/works_header.svg
                h2.block-title.block-title--works Мои работы
        .works__elem
            .works__first
                .works__elem-title
                    h3.block-subtitle.block-subtitle--school Сайт школы онлайн-образования
                .works__elem-tech
                    h4.block-green html, css, javascript
                button.button.button--green
                    svg.button__icon
                    span.button__text Посмотреть сайт
            .works__second
            .works__third
    section.section.speaking
        .speaking-title
            .speaking-title__elem
                include ../../images/icons/about_header.svg
                h2.block-title.block-title--works-down Что обо мне говорят
        footer.footer.footer--works
            .footer__row
                .footer__col.footer__menu
                    include ../common/menu.pug
                .footer__col.social--dark
                    ul.social__list
                        li.social__item
                            a.social__link.social__link--vk(href='https://vk.com/id12285178')
                                svg.social__icon
                                    use(xlink:href='')
                        li.social__item
                            a.social__link.social__link--github(href='https://github.com/Tatyaniya')
                                svg.social__icon
                                    use(xlink:href='')
                        li.social__item
                            a.social__link.social__link--in(href='https://www.facebook.com/tatyaniya')
                                svg.social__icon
                                    use(xlink:href='')
            .footer__row
                .footer__col.footer__text
                    p Я разработчик из Киева и этот сайт сделан в рамках обучения в Школе онлайн-образования LoftSchool.
                .footer__col.footer__text
                    p Татьяна Мельничук создано в любовью в LoftSchool 2017