extends ../template

block variables
    - var title = 'Мои работы'

block content
    section.section.home
        .social
            ul.social__list
                li.social__item
                    a.social__link.social__link--header(href='https://vk.com/id12285178' target='_blank')
                        include ../../images/icons/vk.svg
                li.social__item
                    a.social__link.social__link--header(href='https://github.com/Tatyaniya' target='_blank')
                        include ../../images/icons/github.svg
                li.social__item
                    a.social__link.social__link--header(href='https://www.facebook.com/Tatyaniya' target='_blank')
                        include ../../images/icons/in.svg
        .home__menu
            button.hamburger
                .hamburger__link
        .home__img
            include ../../images/icons/portfolio_header.svg
        .home__user.user                    
            .user__pic
                img.user__pic-img(src='../assets/images/users/me.jpg')
            .user__info
                .user__name--home Татьяна Мельничук
                .user__data--home Личный сайт веб-разработчика
        a.home__arrow
            include ../../images/icons/arrow_down.svg
    section.section.works
        .works-title
                h2.block-title Мои работы
        .works__elem
            .works__first
                .works__elem-title
                    h3.block-subtitle Сайт школы онлайн-образования
                .works__elem-tech
                    h4.block-green html, css, javascript
                button.button.button--green
                    svg.button__icon
                    span.button__text Посмотреть сайт
            .works__second
            .works__third
    section.section.speaking
        .speaking-title
                h2.block__title Что обо мне говорят
        include ../common/footer.pug