.triangle {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.left--about {
    fill: #efeee9;
}

.right--about {
    fill: #eeebdf;

    @include tablets {
        fill: #efeee9;
    }
}

.about {
    display: flex;

    @include tablets {
        flex-direction: column;
    }
}

.about__left,
.about__right {
    width: 50%;
    overflow: hidden;
    padding-bottom: 1.5rem;

    @include tablets {
        width: 100%;
        justify-content: center;
    }
}

.about__left {
    background: #efeee9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: .625rem;
}

.about__left-title {
    fill: #dcdbd6;
    width: 25rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1.65rem;
}

.block-title {
    font-family: 'bernier_regular', sans-serif;
    font-size: 3.9375rem;
    text-align: center;
    margin: 1.875rem auto 1.875rem auto;
    position: relative;

        &:before,
        &:after {
            width: 1.4375rem;
            height: 5px;
            background: #c3c4c0;
            content: "";
            position: absolute;
        }
}

.block-title--about {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
   
        &:before {
            left: -2.875rem;
            top: 2.625rem;
        }

        &:after {
            right: -2.875rem;
            top: 2.625rem;
        }
}

.user-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.block-subtitle {
    font-family: 'bernier_regular', sans-serif;
    font-size: 2.1875rem;
    text-transform: uppercase;
    position: relative;

        &:before,
        &:after {
            width: 1.4375rem;
            height: .3125rem;
            background: #c9c8c0;
            content: "";
            position: absolute;
        }
}

.block-subtitle--about {
    text-align: center;
    width: 11.25rem;
    margin: .625rem auto;

        &:before {
            left: .625rem;
            top: 1.25rem;
        }

        &:after {
            right: .625rem;
            top: 1.25rem;
        }
}

.block-subtitle--skills {
    text-align: center;
    width: 17.5rem;
    margin: .625rem auto;

        &:before {
            left: -.9375rem;
            top: 1.25rem;
        }

        &:after {
            right: -.9375rem;
            top: 1.25rem;
        }

        @include desktop {
            margin: .5rem auto;
            font-size: 1.75rem;
        }
}

.user-description__avatar {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;

    @include desktop {
        width: 12rem;
        height: 12rem;
    }
}

.user__avatar {
    width: 100%;
}

.user-description__text {
    width: 90%;
    margin: 0 auto;
    padding: 0 .625rem;

    @include tablets {
        padding: 0 1.5rem;
    }

    @include phones {
        width: 90%;
        padding: 0 1.2rem;
    }
}

.about__right {
    background: #eeebdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .625rem 1.875rem;

    @include desktop {
        padding: .25rem .95rem;
        font-size: .875rem;
    }

    @include tablets {
        padding: 1.3rem 2.5rem;
    }
}

.about__right-contend {
    width: 100%;
}

.about__right-desc {
    @include tablets {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include phones {
        padding-left: 0;
        padding-right: 0;
    }
}

.skills-row__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include tablets {
        justify-content: center;
    }

    @include phones {
        flex-wrap: wrap;
    }
}

.skills-row__title {
    font-family: 'roboto-medium', sans-serif;
    font-size: 1.75rem;
    margin-bottom: .625rem;
    margin-top: .625rem;

    @include desktop {
        margin-bottom: .5rem;
        margin-top: .5rem;
        font-size: 1.25rem;
    }

    @include tablets {
        text-align: center;
    }
}

.skill__circle-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00bfa5;
    font-family: 'roboto-medium', sans-serif;
    font-size: .8125rem;
    line-height: 1.3;

    @include desktop {
        font-size: .7rem;
    }
}

.circles {
    fill: none;
    stroke-width: 15;
}

.circle__first {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s;
    will-change: stroke-dashoffset;
    stroke: #dad7cb;
    stroke-width: 1.125rem;
}

.circle__second {
    stroke: #00bfa5;
    stroke-dashoffset: 282.6;
    transition: stroke-dashoffset 1s;
    will-change: stroke-dashoffset;
    stroke-width: 1.125rem;
}
  
.skills-row__item {
    width: 6.5rem;
    height: 6.5rem;
    position: relative;
    margin: .625rem;

    @include desktop {
        width: 5.3125rem;
        height: 5.3125rem;
        margin-right: .3125rem;
    }

    
}
  
.circles:hover .circle-0 {
    stroke-dasharray: .001 282.6;
}
.circles:hover .circle-5 {
    stroke-dasharray: 14.13 282.6;
}
.circles:hover .circle-10 {
    stroke-dasharray: 28.26 282.6;
}
.circles:hover .circle-15 {
    stroke-dasharray: 42.39 282.6;
}
.circles:hover .circle-20 {
    stroke-dasharray: 56.52 282.6;
}
.circles:hover .circle-25 {
    stroke-dasharray: 70.65 282.6;
}
.circles:hover .circle-30 {
    stroke-dasharray: 84.78 282.6;
}
.circles:hover .circle-35 {
    stroke-dasharray: 98.91 282.6;
}
.circles:hover .circle-40 {
    stroke-dasharray: 113.04 282.6;
}
.circles:hover .circle-45 {
    stroke-dasharray: 127.17 282.6;
}
.circles:hover .circle-50 {
    stroke-dasharray: 141.3 282.6;
}
.circles:hover .circle-55 {
    stroke-dasharray: 155.43 282.6;
}
.circles:hover .circle-60 {
    stroke-dasharray: 169.56 282.6;
}
.circles:hover .circle-65 {
    stroke-dasharray: 183.69 282.6;
}
.circles:hover .circle-70 {
    stroke-dasharray: 197.82 282.6;
}
.circles:hover .circle-75 {
    stroke-dasharray: 211.95 282.6;
}
.circles:hover .circle-80 {
    stroke-dasharray: 226.08 282.6;
}
.circles:hover .circle-85 {
    stroke-dasharray: 240.21 282.6;
}
.circles:hover .circle-90 {
    stroke-dasharray: 254.34 282.6;
}
.circles:hover .circle-95 {
    stroke-dasharray: 268.47 282.6;
}
.circles:hover .circle-100 {
    stroke-dasharray: 282.6 282.6;
}


.footer {
    width: 100%;
}

.footer--about {
    position: absolute;
    bottom: 0;
    background: rgba(53,58,61,.8);
}

.footer__links {
    border-bottom: 1px solid rgba(255,255,255,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
        flex-direction: column;
    }
}

.footer__list,
.social-dark__list {
    display: flex;
}

.footer__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 2.4375rem;

        &:first-child {
            margin-left: 1.875rem;
        }

        @include phones {
            margin-right: 1rem;
        }
}

.footer__link {
    font-family: 'roboto-medium', sans-serif;
    font-size: 1rem;
    color: #fff;

    @include phones {
        font-size: .875rem;
    }
}

.social-dark__list {
    @include phones {
        margin-bottom: .5rem;
    }
}

.social-dark__item {
    margin-right: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: .3125rem;

    @include phones {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 2rem;
    }
}

.social-dark__link {    
    fill: #9eaaab;  

        &:hover {
            fill: #fff;
        }        
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;

    @include tablets {
        flex-direction: column;
    }
}

.footer__text p {
    @include tablets {
        margin-top: .4rem;
        margin-bottom: .5rem;
    }
}

.footer__text--left p {
    @include tablets {
        margin-bottom: 0;
    }
}

.footer__text {
    width: 31.25rem;
    font-family: 'roboto-light', sans-serif;
    font-size: 1rem;
    color: #acaeaf;

    @include tablets {
        width: 90%;
        text-align: center;
    }

    @include phones {
        font-size: .83rem;
    }
}

.map {
    position: relative;
    height: 100vh;
    background: #b3ced1;
}

.google-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map__contacts {
    width: 21.875rem;   
    border-radius: 5px;
    background: rgba(255,255,255,.7);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 3.125rem 2.25rem;

    @include tablets {
        width: 18rem;
        padding: 0 1rem;
        top: 0;
    }
}

.block-subtitle--map {
    position: relative;
    letter-spacing: 2px;
    text-align: center;

        &:before {
            position: absolute;
            top: 1.375rem;
            left: .9375rem;
        }

        &:after {
            position: absolute;
            top: 1.375rem;
            left: 12.9375rem;
        }

        @include tablets {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
}

.contacts__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts__item {
    display: flex;
    margin-bottom: 1.25rem;

    @include tablets {
        margin-bottom: .8rem;
    }
}
.contacts-row__icon {
    width: 1.5625rem;
    height: 1.5625rem;
    fill: #00bea4;
    margin-right: .8125rem;
}