.speaking {
    position: relative;
}

.works-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf8f0;
    width: 100%;
    height: 10rem;
    padding-bottom: 1.25rem;
}


.works-title__elem {
    fill: #dcdbd6;
    width: 32.5rem;
    height: 100%;
    position: relative;
}

.block-title--works {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    padding-top: 2.2rem;
    
    &:before {
        left: 3.75rem;
        top: 4.9375rem;
    }

    &:after {
        right: 3.75rem;
        top: 4.9375rem;
    }

    @include phones {
        padding-top: 2.5rem;
        margin-bottom: .5rem;
        font-size: 3.5rem;

        &:before {
            left: 1rem;
        }
    
        &:after {
            right: 1rem;
        }
    }
}

.works__elem {
    background: #f0efe9;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;

    @include tablets {
        flex-direction: column;
    }
}

.works__first,
.works__second,
.works__third {
    width: 50%;

    @include tablets {
        width: 100%;
    }
}

.works__first {
    background: #f0efe9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include tablets {
        height: 35%;
        margin-top: 50%;
        padding-bottom: 10px;
    }
    
    @include phones {
        height: 40%;
        margin-top: 64%;
    }
        
}

.block-subtitle--school {
    width: 19.375rem;
    text-align: center;
    position: relative;

        &:before {
            top: 1.3125rem;
            left: -1.5625rem;
        }

        &:after {
            top: 1.3125rem;
            right: -1.25rem;
        }

        @include phones {
            width: 60%;
            font-size: 1.5rem;
            margin: 0 auto;
            padding-bottom: 6px;

            &:before {
                top: 1.7rem;
                left: -2.5rem;
            }
    
            &:after {
                top: 1.7rem;
                right: -2.5rem;
            }
        }
}

.works__elem-tech {
    border-top: 1px solid #20b5a1;
    border-bottom: 1px solid #20b5a1;
    margin-bottom: 2.5rem;

    @include phones {
        margin-bottom: 1rem;
    }
}

.block-green {
    font-family: 'roboto-medium', sans-serif;
    font-size: 1rem;
    color: #20b5a1;
    padding: 1.125rem 7.5rem 1.125rem 7.5rem;
    text-transform: uppercase;
    
    @include phones {
        font-size: .875rem;
        padding: .5rem 3rem;
    }
}

.works__link {
    background: #00bfa5;
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

        &:hover {
            background: #019a85;
        }
}

.works__icon {
    width: 1.375rem;
    height: 1.375rem;
    margin-right: .625rem;
}

.works__text {
    font-family: 'roboto-medium', sans-serif;
    font-size: 1rem;
    color: #fff;
    
}

.works__second {
    background: #efebe0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    overflow: hidden;
    position: relative;

    @include tablets {
        position: absolute;
        top: 0;
        height: 40%;
    }
}

#slider {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide-img {
    height: 85%;
}

.works__third {
    height: 30%;
    background: #efebe0;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;

    @include tablets {
        height: 28%;
    } 
}

.arrow-down,
.arrow-up {
    text-align: center;
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works__arrow-down,
.works__arrow-up  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2);
    
    &:hover {
        background: rgba(0, 0, 0, .3);
    }
}

.works__arrow-down svg,
.works__arrow-up svg {
    width: 42px;
    height: 28px;
    fill: #fff;
}

.works__arrow-up svg {
    transform: rotate(180deg);
}

.works__third-img {
    max-width: 100%;
    max-height: 100%;
}

.block-title--works {
    width: 100%;
    height: 11.25rem;
}

.speaking {
    background: url(../images/bg/bg_works.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speaking-title__elem {
    width: 30%;
    height: 15%;
    fill: #dcdbd6;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);

    @include  tablets {
        width: 50%;
    }

    @include phones {
        width: 75%;
        height: 10%;
    }
}

.block-title--works-down {
    width: 17.5rem;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: .625rem;
    
    &:before {
        left: -3.4375rem;
        top: 3.25rem;
    }

    &:after {
        right: -2.8125rem;
        top: 3.25rem;
    }

    @include phones {
        padding-top: .5rem;
        margin-bottom: 0;
        margin-top: .3rem;
        font-size: 2.7rem;

        &:before {
            left: -1.1rem;
            top: 4.2rem;
        }
    
        &:after {
            right: -1rem;
            top: 4.2rem;
        }
    }
}

.comments {
    display: flex;
    min-height: 100vh;
    margin-top: 160px;

    @include desktop {
        min-height: 120vh;
    }

    @include pro {
        margin-top: 220px;
    }
    
    @include tablets {
        min-height: 100vh;
    }
    
    @include phones {
        min-height: 160vh;
        flex-direction: column;
        margin-top: 126px;
    }
}

.comments__item {
    width: 25rem;
    padding: 0 1.25rem;
    margin-top: 2.5rem;

        @include desktop {
            margin-top: 1.25rem;
        }

        @include pro {
            padding: 0;
        }
        
        @include tablets {
            padding: 1rem 2.5rem;
            margin-top: 0;
        }

        @include phones {
            margin-top: 0;
            padding: .7rem 2.5rem;
            padding-bottom: .2rem;
        }
}

.comments__icon {
    width: 1.75rem;
    height: 1.625rem;
    fill: #dde0e0;
    
    @include desktop {
        width: 1.5rem;
        height: 1.375rem;
    }

    @include pro {
        width: 2.1rem;
        height: 1.75rem;
    }

    @include phones {
        width: 1rem;
        height: .875rem;
        margin: 0 auto;
    }
}

.comments__foto {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1.5625rem;

    @include desktop {
        width: 4.5rem;
        height: 4.5rem;
    }

    @include pro {
        width: 5rem;
        height: 5rem;
    }
}

.comments__pic-img {
    width: 100%;    
}

.comments__text {
    font-size: .875rem;

    @include pro {
        font-size: 1.3rem;
    }

    @include  tablets {
        font-size: .875rem;
    }
}

.comments__user {
    display: flex;
}

.comments__info {
    display: flex;
    flex-direction: column;
    color: #20b5a1;
    justify-content: center;
}

.comments__name {
    font-family: 'roboto-bold', sans-serif;
}

.form__container {
    width: 22.5rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 1.25rem;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    @include desktop {
        height: 23rem;
    }

    @include  tablets {
        top: 46%;
    }

    @include phones {
        width: 85%;
        top: 46%;
    }
}

.blur {
    background: url('../images/bg/bg_works.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include laptop {
        background: rgba(193, 184, 172, .5)
    }
}

.form__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.block-subtitle--form {
    margin-bottom: 1.1rem;
    margin-top: .8rem;
    padding-top: .6rem;
    &:before {
        top: 1.825rem;
        left: -2.5rem;
        @include desktop {
            left: -2rem;
        }
    }
    &:after {
        top: 1.825rem;
        left: 16.875rem;
        @include desktop {
            left: 15rem;
        }
    }

    @include desktop {
        margin-bottom: .5rem;
        margin-top: 0.5rem;
        padding-top: .5rem;
        font-size: 2rem;
    }
}

.form__feed {
    width: 100%;
    padding: 0 1.5625rem;

    @include desktop {
        
    }
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form__input {
    border-radius: 5px;
    width: 100%;
    border: 1px solid transparent;
    padding: .3rem .9375rem;
    margin-bottom: 1.2rem;
    font-size: .875rem;
    transition: .2s;
    overflow: auto;

    @include desktop {
        margin-bottom: 1rem;
    }
}

.form__message {
    resize: none;
    height: 7.45rem;
}

.form__buttons {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.form__button {
    flex: 1;
    background: #26bbaa;
    color: #fff;
    border: none;
    padding: .54rem 0;

        &:first-child {
            border-bottom-left-radius: 5px;
            border-right: 1.5px solid #82cfc9;
        }

        &:last-child {
            border-bottom-right-radius: 5px;
        }

        &:hover {
            background: #268b8b;
        }
}

.footer__arrow {
    fill: #b3ced1;
    position: absolute;
    left: 50%;
    bottom: 11.3rem;
    transform: translate(-50%);
    margin-top: 5px;

    @include desktop {
        bottom: 6.8rem;
    }

    @include pro {
        bottom: 14rem;
    }

    @include tablets {
        bottom: 12rem;
    }

    @include phones {
        bottom: 13.5rem;
    }
}

.footer__arrow svg {
    transform: rotate(180deg);
}

.footer--works {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #2f4548;
}

.footer__item--works {
    @include desktop {
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
}

.social-dark {
    @include tablets {
        margin-bottom: .5rem;
    }
}

.footer__link--works {
    @include desktop {
        font-size: .875rem;
    }
}

.social-dark__item--works {

    @include desktop {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.footer__text--works p {

    @include desktop {
        font-size: .82rem;
        margin-top: .3rem;
        margin-bottom: .3rem;
    }
}
