.welcome__menu {
    width: 100%;
}

.menu__list {
    display: flex;
}

.menu__item--welcome {
    flex: 1 1 auto;
    padding: .75rem 0;
    text-align: center;
    background: rgba(9, 176, 157, .7);
    border-right: 2px solid #74cac3;

        &:hover {
            background: #009688;
        }

        &:first-child {
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-right: none;
            border-bottom-right-radius: 5px;
        }

        @include phones {
            padding: .55rem 0;
        }
}

.menu__link--welcome {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}