.social__list {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.social__item {
    margin-right: 1.5625rem;
    width: 1.6875rem;

        &:last-child {
            margin-right: 0;
        }
}

.welcome__social {
    margin-bottom: 2.5rem;
}

.social__link--welcome {
    width: 1.6875rem;
    height: 1.6875rem;
    fill: #00bfa5;

        &:hover {
            fill: #009688;
        }
}

.social {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
}

.social__link--header {
    width: 1.6875rem;
    height: 1.6875rem;
    fill: #9ebebe;

        &:hover {
            fill: #fff;
        }
}